/* SELECTOR UNIVERSAL */
* {
    margin: 0;
    padding: 0;
}

body {
    /*  background-image: 
   url(https://www.xtrafondos.com/wallpapers/resoluciones/21/patron-de-lineas-negro_3840x2160_7938.jpg);*/
    background-image: url(https://t3.ftcdn.net/jpg/01/97/28/16/360_F_197281614_aLQiuOxEY3DVvQGHv7klsLZoIL26qJwH.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgb(30, 146,50);
    padding: 0px 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.logo {
    font-size: 20px;
    color: white;
    font-weight: bold;
}

.menu ul li {
    list-style: none;
    position: relative;
    float: left;
}

.menu ul li a {
    display: block;
    text-decoration: none;
    font-size: 20px;
    padding: 20px;
    color: yellow;
}

.menu ul li a:hover {
    color: white;
}


/* SELECTOR DE ETIQUETA */
main {
    top: 80px;
    background-color: rgba(240, 248, 255, 0.297);
    width: 80%;
    box-shadow: 2px 5px 20px rgba(240, 248, 255, 0.952);
    position: relative;
    margin: 0 auto;
}

.letraCapital::first-letter {
    font-size: 50px;
    font-weight: bold;
    color: marron;
    margin: 10px;
}

section h1,
article h2 {
    text-align: center;
    border-bottom: 2px solid #f3d3;
}

section article p {
    text-align: justify;
    font-size: 20px;
    margin: 20px;
}

footer {
    height: 50px;
    margin-top: 100px;
    background-color: rgb(30, 146,50);
    padding: 0px 7%;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.derechos{
    padding-top: 12px;
}


    